.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #365876;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: none;
  background: none;
  border: 1px solid white;
  font-size: 18px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, .3);
}

.tomatoBackground {
  background-color: #d8482e;
}